<!doctype html>
<html>
<body>
<form method="post" action="default"></form>
<div style="border: 1px solid black; padding: 1em;">
  <h1>Timeless</h1>
  <div class=""><table>
    <thead>
      <tr>
        <th>Week of</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<form method="post" action="tracker">
        <td><input name="week" placeholder="mm/dd/yyyy" type="text" {{#tempWeek}}value={{.}}{{/tempWeek}} required></td>
          <td><input required name="mondayHours" type="number" {{#tempMon}}value={{.}}{{/tempMon}} placeholder=0 ></td>
          <td><input required name="tuesdayHours" type="number" {{#tempTue}}value={{.}}{{/tempTue}} placeholder="0"></td>
          <td><input required name="wednesdayHours" type="number" {{#tempWed}} value={{.}}{{/tempWed}} placeholder="0"></td>
          <td><input required name="thursdayHours" type="number" {{#tempThur}} value={{.}}{{/tempThur}} placeholder="0"></td>
          <td><input required name="fridayHours" type="number" {{#tempFri}} value={{.}}{{/tempFri}} placeholder="0"></td>
          <td> {{#totalHours}} {{.}} {{/totalHours}}</td>
          <td>
          <td>
          <form method="post" action="tracker">
          <button name="action" value="update">Update</button></td>
        	<td>
        <button name="action" value="submit">Submit</button></td>
        </form>
      </tr>
    </tbody>
  </table></div>
  <div>
  	<table>
  		<thead>
        <tr>
        <th>Week of</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr>
 	 {{ #submittedEntry }}
 	  <tr>
 	 		<td>{{ week }}</td>
    		<td>{{ mondayHours }}</td>
    		<td>{{ tuesdayHours }}</td>
    		<td>{{ wednesdayHours }}</td>
    		<td>{{ thursdayHours }}</td>
    		<td>{{ fridayHours }}</td>
    		<td>{{ totalHours }}</td>
        </tr>
      {{ /submittedEntry }}
        <br>
  		</tr>
  	</tbody>
  </table></div>
</div>
</body>
</html>